@model Online_Examination_System.User
         @Html.AntiForgeryToken()
@if (Session["UserName"] != null && Session["UserName"]!="")
{
    {
     ViewBag.Title = "UserHomePage";
    Layout = "~/Views/Shared/_UserScreenLayoutPage.cshtml";
    }

    <h2>UserHomePage @Session["UserName"]</h2>
}
